.dashboard {
  margin: 0 auto;
  max-width: 140rem;
  padding: 0 3rem 1.45rem;

  .section {
    background: white;
    border: 1px solid #edf2f9;
    border-radius: 0.5rem;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    padding: 1rem;
    max-width: 140rem;

    .title {
      font-weight: 700;
      border: 1px solid #edf2f9;
    }

    div {
      margin-bottom: 8px;
    }
  }

  .input-group-append {
    margin-top: 8px;
  }
}
