@import "./Bootstrap";

table {
  th {
    text-align: center;

    .col,
    [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }

    .min,
    .max {
      width: 4rem;
    }

    .range-filter {
      min-width: 9rem;
    }
  }
}
