header {
  padding: 0 2.55rem 1.45rem;
  max-width: 140rem;

  .header-body {
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e3ebf6;
  }

  .header-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0;
  }

  .header-version {
    padding-top: 0.2rem;
    font-size: 1rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #95aac9;
  }

  .avatar {
    font-size: 1rem;
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 4rem;
  }

  .avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
